@import "../../styles/variables";
.NotFound {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: $textColor;
    color: $bgColor;
    display: flex;
    justify-content: center;
    align-items: center;
}
