
body {
  padding: 0;
  margin: 0;
}


/* Header of the page */
.getStartedExt-header {
  background: no-repeat bottom/cover url("../../assets/images/bcgTop.png");
  text-align: center;
  margin-top: -100px;
  padding-top: 100px;
}

.wrapper-getStarted {
  padding: 1% 0 4%;
}

.scrolled-content-header h1 {
  font-family: "Montserrat", sans-serif !important;
  text-transform: uppercase;
  color:  #232323;
  letter-spacing: 1.41px;
  font-style: normal;
  font-size: 54px;
  line-height: 66px;
  margin: 4% 8%;
  font-weight: 800 !important;
}

/*extension header styles*/

.getStarted-logo {
  text-align: center;
  padding-top: 5%;
}

@media(max-width: "599px") {
  .scrolled-content-header h1 {
    font-size: 34px;
    line-height: 38px;
  }
  .description-devices img {
    width: 90% !important;
    height: 80%;
}
  .getStarted-logo {
    width: 60%;
  }
  .started-button {
    &.top,&.bottom{
      display: flex;
      align-items: center;
      padding: 4% 10% !important;
    }
  }
  .getStarted-footer{
    height: 35vw;
    padding-top: 21%;
  }
}

.getStarted-title {
  color:  #195AA9;
  text-align: center;
  letter-spacing: 1.41px;
  margin: 1% 15% 0.5%;
  font-style: normal;
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 44px;
}

.getStarted-subtitle {
  color:  #195AA9;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 165.7%;
  letter-spacing: 0.41px;
  margin-bottom: 5rem;
  padding-top: 3%;
}

.getStarted-button {
  font-family: "Montserrat", sans-serif !important;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2%;
  &.bottom{
    margin: 0;
    transform: translateY(-50%);
  }
}

.started-button {
  display: block;
  width: auto;

  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  font-weight: bold;
  font-style: normal;
  line-height: 1.375rem;

  background-color: #FF6A70;
  border: none;
  border-radius: 110px;
  transition: all 0.3s linear;
  &:hover {
    background-color: #ffb43f;
  }
  &.top,&.bottom{
    display: flex;
    align-items: center;
    padding: 1% 3%;
  }
  &.bottom {
    font-size: 1.4rem;
  }
  &.blog-button {
    padding: 20px 20px;
    max-width: 360px;
  }
}

.content {
  height: 270px !important;
}

.description-devices {
  display: flex;
  justify-content: center;
}

.description-devices img {
  margin-top: 10rem;
  width: 70%;
}

.getStarted-footer {
  background: url("../../assets/images/bottom_flowers.png") bottom/cover no-repeat;
  height: 27vw;
  padding-top: 18%;
}

.Description-Scroll {

  .extension-header-top {
    width: 100%;
  }

  .content-header h2 {
    color: #232323 !important;
    font-size: 1.6rem !important;
    margin-bottom: 10px !important;
  }

  .content-body p {
    color: rgba(46, 46, 46, 0.82) !important;
    opacity: 0.82;
    font-size: 1.2rem !important;
  }

  .scrolled-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  padding: 1% 8% 25% 10% !important;
  margin-bottom: 10px !important;
}


.Description-Scroll-image {
  padding-top: 40px;

  img {
    width: 60%;
    height: 100%;
  }
}

.Description-Scroll {
  img {
    display: block;
    margin: 0 auto;

    /* max-width: 100%; */
    max-height: 60rem;
  }

  p {
    font-size: 1.2rem;
    text-align: left;
    line-height: 2rem;
  }

  h1, h2, h3, h4, h5 {
    margin: 25px 0;
  }

  h3, h4, h5 {
    text-align: left;
    font-weight: bold;
  }

  h1 {
    margin: 0 0 10px;
    font-size: 1.4rem;
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: normal;
  }

  h2 {
    font-size: 2.3rem;
    font-weight: 900;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1.1rem;
  }

  ul {
    text-align: left;
  }

  li {
    margin: 15px 0 0 35px;
    list-style: initial;
  }

  a {
    text-decoration: none;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: red;
    }
  }

  .footer-button {
    margin-top: 30%;
  }

  .extension-block {
    margin-bottom: 50px;
  }

  .extension-header {
    display: flex;
  }

  .button-extension {
    padding-top: 20px;
    margin-left: 0 !important;
    margin-bottom: 50px;
  }

  .button-started-extension {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
  }

  .get-started-button-extension {
    display: block;
    font-size: 1.2rem !important;
    text-transform: capitalize;
    color: #fff !important;
    background: #1E4470 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 34.5px;
    padding: 2% 8% !important;
    transition: all 0.3s linear;
    width: fit-content;

    &:hover {
      background-color: #f26d6d;
    }

    &.top, &.bottom {
      display: flex;
      align-items: center;
    }

    &.top .icon, &.bottom .icon {
      padding-right: 5%;
      margin-bottom: 4%;
      flex: 0 0 auto;
      height: 2.5rem;
    }

    &.top span {
      flex: 0 0 auto;
    }

    &.bottom {
      span {
        flex: 0 0 auto;
      }

      font-size: 1.2rem;
    }
  }

  .get-started-button-extension-bottom {
    display: block;
    font-size: 1.2rem !important;
    text-transform: capitalize;
    color: #fff !important;
    background: #1E4470 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 34.5px;
    padding: 1% 4% !important;
    transition: all 0.3s linear;
    width: fit-content;

    &.top, &.bottom {
      display: flex;
      align-items: center;
    }

    &.top .icon, &.bottom .icon {
      padding-right: 5%;
      margin-bottom: 4%;
      flex: 0 0 auto;
      height: 2.5rem;
    }
  }
}

/* 13 - Extension Description */

/* Get Extension top button */

/* Get Extension bottom button */

.Description-Scroll .get-started-button-extension-bottom.top span, .Description-Scroll .get-started-button-extension-bottom.bottom span {
  flex: 0 0 auto;
}

.iphone-wrapper {
  display: flex;
}

@media (max-width: 540px) {
  .Description-Scroll {
    margin-bottom: 0 !important;

    .tag {
      font-size: 0.8rem;
    }

    .extension-block h2 {
      font-size: 1.15rem !important;
    }

    .extension-block p {
      font-size: 1rem !important;
    }

    .extension-block {
      margin-left: -30px;
    }

    .icon {
      width: 20px;
    }

    .get-started-button-extension {
      padding-right: 2% 5%;
    }

    .content {
      height: 380px !important;
      margin: 3px;
      width: 100% !important;
    }
  }
  .scrolled-content-header {
    font-size: 1.3rem;
    line-height: 30px;
  }
}

