@import "../../styles/variables";

.content {
    padding: 2vh 0 5vh 0;
}

.container {
    margin: 0 auto;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

input {
    border-radius: 3px;
    height: 30px;
    padding: 5px;
    width: 100%;
}
