@media (min-width: 1550px) {
    .Home .container {
        margin: 0 20%;
    }
}
@media (max-width: 1024px) {
    .Home {
        .button-started {
            width: 220px;
        }

        .button-started .get-started-button2 {
            padding: 10px 0;
        }

        .button-group {
            width: 100%;
        }

        .sources-wrapper,
        .sources-block {
            flex-wrap: wrap;
            justify-content: center;
        }

        .sources-title {
            flex-basis: 100%;
            text-align: center;
            margin-top: 0;
            padding-top: 0;
        }
    }
}

@media (max-width: 768px) {
    .Home {
        .app-download-wrapper {
            flex-wrap: wrap;
            justify-content: center;
        }

        .img-phone {
            flex-basis: 100%;
        }

        .img-phone img {
            width: 70%;
        }

        .content-description {
            margin: 0 auto;
            margin-top: 3%;
            text-align: center;
            flex-basis: 100%;
        }

        .slider {
            margin: 0 5%;
        }

        .enjoyIt-heading,
        .context-title,
        .sources-title {
            text-align: center;
            padding-top: 6%;
        }

        .enjoyIt-wrapper,
        .content-context-memory {
            flex-direction: column;
            margin-top: 0;
        }

        // .blog a {
        //     font-size: 1.1rem;
        // }

        .sources-title {
            flex-basis: 100%;
            padding: 0;
            padding-bottom: 3%;
        }

        .sources-block {
            justify-content: center;
            flex-basis: 70%;
        }
    }
}

@media (max-width: 610px) {
    .Home {
        h1.hero-title {
            font-size: 2rem;
            line-height: 2rem;
        }

        h2 {
            font-size: 2rem;
        }

        h3 {
            font-size: 0.9rem;
        }

        p,
        a {
            font-size: 0.9rem;
        }
        .wrapper-hero {
            padding: 4% 0 25%;
        }

        .button-started .get-started-button2,
        .button-started .get-started-button {
            font-size: 1rem;
            margin: 0 auto;
            padding: 3%;
        }

        .slider {
            margin: 0 5%;
        }

        .image-carousel-caption {
            font-size: 0.7rem;
        }

        .blog-button{
            background-size: 90%;
        }
        .blog a {
            width: 60%;
            font-size: 1rem;
            letter-spacing: 2px;
            padding: 2% 0;
        }

        .subtitle{
            font-size: 0.9rem;
            margin: 5%;
        }

        .sources-block {
            flex-basis: 95%;
        }

        .sources-paragraph p {
            font-size: 0.8rem;
        }

        .call-to-action {
            -webkit-background-size: 180%;
            background-size: 180%;
        }

        .get-started-footer {
            padding-bottom: 1%;
        }
    }
}
