.Home {
  .slick-slide {
    height: auto !important;
  }

  .slider {
    margin: 0 18%;
  }

  .slide img {
    width: 100%;
  }

  .image-carousel-caption {
    padding: 2% 0;

    text-align: center;
    font-size: 2rem;
  }

  .slick-dots li button::before {
    color: #00b9ed !important;
    font-size: 20px !important;
  }

  .hero {
    background: no-repeat bottom/cover url("../../assets/images/home/bcg3.svg");
    text-align: center;
    margin-top: -100px;
    padding-top: 100px;
  }

  .wrapper-hero {
    padding: 8% 0 20%;
  }
  /*hero*/
  .hero-title {
    margin: 0 15% 0.5%;
    font-size: 2.3rem;
    font-weight: normal;
    line-height: 3.2rem;
    color: #fff;
  }

  .subtitle {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 100;
    margin-bottom: 3rem;
    margin-top: 1%;
  }

  .button-started {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 2%;
		&.bottom{
			margin: 0;
			transform: translateY(-50%);
		}
  }

  .get-started-button {
    display: block;
    width: auto;

    font-size: 1.4rem;
    text-transform: capitalize;
    color: #fff;

    background-color: #f26d6d;
    border: none;
    border-radius: 50px;
    transition: all 0.3s linear;
    &:hover {
      background-color: #ffb43f;
		}
		&.top,&.bottom{
			display: flex;
			align-items: center;
			padding: 1% 4% 1% 2%;
			.icon{
				margin-right: 2%;
				padding-bottom: 5px;
				flex: 0 0 auto;
			}
			span{
				// margin-bottom: 4px;
				flex: 0 0 auto;
			}
		}
    &.bottom {
			font-size: 1.4rem;
    }
    &.blog-button {
			padding: 20px 20px;
			max-width: 360px;
    }
  }

  /*content*/
  .container {
    margin: 0 6%;
  }

  .content {
    margin: 6% 0;
    position: relative;
  }

  .enjoyIt-wrapper,
  .content-context-memory {
    display: flex;
    justify-content: space-between;
  }
  .content-context-memory {
    flex-direction: row-reverse;
    margin-top: -80px;
  }

  .enjoyIt-heading,
  .context-title {
    padding-top: 50px;
    flex: 0 1 50%;
  }

  .enjoyIt-heading {
    margin-right: 5%;
  }

  .context-title {
    margin-left: 5%;
  }

  .imgEnjoy img,
  .img-context-puzzle img {
    width: 100%;
    height: 100%;
  }

  .imgEnjoy,
  .img-context-puzzle {
    flex: 1 1 50%;
  }

  .app-download-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .img-phone {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
  }

  .img-phone .img-phone-front {
    position: absolute;
    width: 50%;
    left: -120%;
    transition: all 0.8s ease-in-out;
    &.show {
      left: 30%;
    }
  }
  .img-phone .img-phone-back {
    width: 100%;
  }

  .content-description {
    flex-basis: 50%;
    margin-left: 5%;
    text-align: left;
    h2 {
      font-size: 2.2rem;
    }
  }

  h2 > span {
    font-weight: 800;
  }

  h2 > sup {
    font-size: 1rem;
    font-weight: 800;
  }

  .openSoftware {
    color: lightblue;
    text-decoration: underline;
    transition: 0.3s;
  }

  .openSoftware:hover {
    text-decoration: none;
    color: #4d8bdd;
  }

  .button-block {
    margin-top: 3%;
  }

  .button-group {
    display: flex;
    width: 100%;
    padding-right: 20%;
    margin-top: 4px;
    position: relative;
    align-items: center;
    &-comment {
      position: absolute;
      right: 0;
      top: 8px;
      font-size: 1rem;
      color: #979797;
      text-align: left;
      width: 40%;
    }
  }

  .button-group-1 {
    margin-left: 4%;
  }

  .button-group-1 .button-install {
    background-color: #56d3f1;
  }

  .button-group-2 {
    margin-left: 2%;
  }

  .button-group-2 .button-install {
    background-color: #46b8ff;
  }

  .button-group-3 .button-install {
    background-color: #5396ef;
  }

  .button-install {
		padding: 20px 20px;
		// min-height: 58px;
    flex: 0 1 50%;
    background-color: #56d3f1;
    border-radius: 50px;
    display: block;
		transition: all 0.2s ease-in-out;
		text-align: left;
    &:hover {
      transform: scale(1.1);
    }
    &.lock {
      background-color: #c4c4c4;
      cursor: default;
      &:hover {
        transform: scale(1);
      }
    }

    background-color: #2c2c2c;
	}
	
	.button-chrome{
		// display: flex;
		// align-items: center;
		padding-left: 50px;
		&-icon{
			position: absolute;
			top: 45%;
			transform: translateY(-50%);
			left: 10px;
		}
	}

  .button-android,
  .button-chrome {
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-top: 4px solid white;
    z-index: 2;
	}
	
  .button-guide,
  .button-iOS {
    position: relative;
    padding: 16px 5px;
  }

  .button-iOS {
    right: 30%;
    text-align: center;
    padding-left: 29%;
    padding-right: 1%;
  }

  .button-guide {
    font-size: 0.7rem;
    opacity: 0;
    right: 8%;
    padding-left: 30px;
  }

  .button-group-1:hover .button-guide {
    opacity: 1;
  }

  .content-howItWorks h2 {
    text-align: center;
    margin-bottom: 2%;
  }

  .extension img {
    width: 100%;
	}
	
	.content-sources{
		margin-bottom: 1%;
		padding-bottom: 0;
	}

  .sources-wrapper {
    justify-content: center;
    text-align: left;
    display: grid;
    grid-template-areas:
      "text stickers"
      "button stickers";
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1fr auto;
  }

  .sources-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 40px 20px 50px;
    grid-area: text;
    h2 {
      margin-bottom: 0.5rem;
    }
  }
  .blog {
    padding: 20px 40px 0 50px;
    grid-area: button;
    p {
      margin-bottom: 1.5rem;
    }
  }
  .sources-block {
		grid-area: stickers;
		margin:-2%;
		&_row{
			width: 100%;
			display: flex;
		}
		.sources-paragraph {
			flex: 0 1 50%;
			margin: 2%;
			padding: 20px;
			border-radius: 25px;
			background: #45b8ff;
			color: white;
			p {
				font-size: 1rem;
				color: white;
			}
			&.disabled{
				opacity: 0;
			}
		}
  }




  .get-started-footer {
		background: url("../../assets/images/home/Illustration6(3).svg") bottom/cover no-repeat;
		height: 20vw;
		padding-top: 14%;
  }
}
