@media (min-width: 1550px) {
    .Home .container {
        margin: 0 20%;
    }
}
@media (max-width: 1024px) {
    .Home {
        .button-started {
            width: 220px;
        }

        .button-started .get-started-button2 {
            padding: 10px 0 !important;
        }

        .button-group {
            width: 100%;
        }

        .sources-wrapper,
        .sources-block {
            flex-wrap: wrap;
            justify-content: center;
        }

        .sources-title {
            flex-basis: 100%;
            text-align: center;
            margin-top: 0;
            padding-top: 0;
        }
    }
}

@media (max-width: 768px) {
    .Home {
        .app-download-wrapper {
            flex-wrap: wrap;
            justify-content: center;
        }

        .img-phone {
            flex-basis: 100%;
        }

        .img-phone img {
            width: 70%;
        }

        .content-description {
            margin: 0 auto;
            margin-top: 3%;
            text-align: center;
            flex-basis: 100%;
        }

        .slider {
            margin: 0 5%;
        }

        .enjoyIt-heading,
        .context-title,
        .sources-title {
            text-align: center;
            padding-top: 6%;
        }

        .enjoyIt-wrapper,
        .content-context-memory {
            flex-direction: column;
            margin-top: 0;
        }

        // .blog a {
        //     font-size: 1.1rem;
        // }

        .sources-title {
            flex-basis: 100%;
            text-align: center;
            padding-left: 0;
        }

        .sources-block {
            justify-content: center;
            flex-basis: 70%;
        }
    }
}

@media (max-width: 610px) {
    .Home {
        .wrapper-hero {
            padding: 4% 0 25%;
        }

        .button-started .get-started-button2,
        .button-started .get-started-button {
            margin: 0 auto;
        }

        .slider {
            margin: 0 5%;
        }

        .blog a {
            letter-spacing: 2px;
            padding: 2% 0;
        }

        .sources-block {
            flex-basis: 95%;
        }

        .call-to-action {
            -webkit-background-size: 180%;
            background-size: 180%;
        }

        .get-started-footer {
            padding-bottom: 1%;
        }
    }
}
