@media (min-width: 1550px) {
    .Home .container {
        margin: 0 20%;
    }
}
@media (max-width: 1024px) {
    .Home {
        .button-started {
            width: 220px;
        }

        .get-started-button{
					&.bottom {
            padding: 10px 0;
					}
        }

        .button-group {
            width: 100%;
        }

				.sources-paragraph {
					margin: 2%;
				}

        .sources-wrapper,
        .sources-block {
            flex-wrap: wrap;
            justify-content: center;
        }

        .sources-title {
            flex-basis: 100%;
            margin-top: 0;
            padding-top: 0;
        }
    }
}

@media (max-width: 768px) {
    .Home {
        .app-download-wrapper {
            flex-wrap: wrap;
            justify-content: center;
        }

        .img-phone {
            flex-basis: 100%;
        }

        .img-phone img {
            width: 70%;
        }

        .content-description {
            margin: 0 auto;
            margin-top: 3%;
            text-align: center;
            flex-basis: 100%;
        }

        .slider {
            margin: 0 5%;
        }

        .enjoyIt-heading,
        .context-title,
        .sources-title {
            text-align: center;
            padding-top: 6%;
        }

        .enjoyIt-wrapper,
        .content-context-memory {
            flex-direction: column;
            margin-top: 0;
        }

        // .blog a {
        //     font-size: 1.1rem;
        // }

				.sources-wrapper{
					grid-template-areas:
					"text"
					"stickers"
					"button";
					grid-template-columns: 100%;
    			grid-template-rows: repeat(3,auto);
				}
				
        .sources-title {
            flex-basis: 100%;
            padding: 0;
            padding-bottom: 3%;
        }

        .sources-block {
            justify-content: center;
            flex-basis: 70%;
				}
				.get-started-button{
					&.blog-button{
						margin: 0 15%;
					}
				}
    }
}

@media (max-width: 610px) {
    .Home {
        h1.hero-title {
            font-size: 2rem;
            line-height: 2rem;
        }

        h2 {
            font-size: 2rem;
        }

        h3 {
            font-size: 1.3rem;
        }

        p,
        a {
            font-size: 0.9rem;
        }
        .wrapper-hero {
            padding: 4% 0 25%;
        }

        .get-started-button {
            font-size: 1rem;
            margin: 0 auto;
						padding: 3%;
						&.blog-button{
							margin: 0 20%;
							padding: 3%;
						}
						&.bottom{
							padding: 5px 0;
							width: 220px;
						}
        }

        .slider {
            margin: 0 5%;
        }

        .image-carousel-caption {
            font-size: 0.7rem;
        }

        .subtitle{
            font-size: 0.9rem;
            margin: 5%;
        }

        .sources-block {
            flex-basis: 95%;
        }

        .sources-paragraph {
					p{
						font-size: 0.8rem;
					}
        }

        .call-to-action {
            -webkit-background-size: 180%;
            background-size: 180%;
        }
    }
}
