@import "../../styles/variables";
.Header {
    width: 100%;
    background:  linear-gradient(0.12deg, #6DDAA1 -8.74%, rgba(126, 190, 116, 0.37) 18.58%), linear-gradient(178.86deg, #6DDAA1 -39.19%, rgba(126, 190, 116, 0.83) 40.03%), #6DDAA1;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding-top: 70px;
    position: relative;
    h1 {
        font-size: 2.5rem;
        
        @media screen and (max-width: 610px){
            font-size: 1.5rem;
        }
        a {
            color: inherit;
            &:hover {
                color: inherit;
            }
        }
    }
    &-content {
        text-align: left;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 2% 2% 4% 0;
    }
    &-title {
        font-weight: bold;
        color: $bgColor;
        margin: 20px 10px;
    }
}
