@import "../../styles/variables";
.Header {
  margin-top: -70px;
  width: 100%;
  background: linear-gradient(180deg, #17365F -12.16%, #254F7E 100%) !important;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding-top: 70px;
  position: relative;
  h1 {
    font-size: 2.5rem;

    @media screen and (max-width: 610px) {
      font-size: 1.5rem;
    }
    a {
      color: inherit;
      &:hover {
        color: inherit;
      }
    }
  }
  &-content {
    text-align: left;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2% 2% 4% 0;
  }
  &-title {
    font-weight: bold;
    color: $bgColor;
    margin: 20px 10px;
  }
}
