.Navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 50;
}

.sticky-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
}

.fixed-bar {
    display: flex;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 4px rgba(2, 0, 0, 0.33);
    animation: showMenu1 0.3s;
}

.fixed-bar .logo-light {
    color: #215599;
}

.fixed-bar a {
    color: #215599;
}

.fixed-bar select {
    color: #215599;
    background: url("../../assets/images/navbar/Triangle1.svg") right center
        no-repeat;
    background-size: 10%;
}

.no-fixed-bar {
    animation: showMenu2 0.3s;
    display: flex;
}

@keyframes showMenu1 {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }

    100% {
        background-color: white;
    }
}
@keyframes showMenu2 {
    0% {
        background-color: white;
    }

    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

/*logo*/
.lang,
.menu-wrapper {
    width: 45%;
    max-height: 80px;
}

.lang {
    justify-content: flex-start;
    display: flex;
    align-items: center;
    margin-bottom: -0.4rem;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: none;
    background: url("../../assets/images/navbar/Triangle1.1.svg") right center
        no-repeat;
    background-size: 10%;
    color: white;
    font-size: 1.4rem;
    text-decoration: underline;
    padding: 10px;
    padding-right: 15px;
    cursor: pointer;
    outline: none;
    text-align-last: right;
    &::after{
        content:'';
        display: block;
        height: 100%;
        width: 100%;
        background: red;
    }
}

.lang option {
    color: #215599;
}

.logo {
    height: 100%;
}

.logo-light {
    font-size: 1.8rem;
    font-family: "Kodchasan";
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 50px;
    margin-right: 20px;
}

/*menu*/

.menu-wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex: 1 0 auto;
    justify-content: space-around;
    margin-right: 50px;
}

.menu-block {
    width: 100%;
}

.menu-logo {
    display: none;
}

.menu-main-list {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-right: 0;
    align-items: flex-start;
    text-transform: capitalize;
}

.menu-main-list li {
    text-align: right;
    margin-right: 20px;
}

.menu-nav__link {
    font-weight: normal;
    font-size: 0.9rem;
    padding-bottom: 5px;
    border-bottom: 0px solid rgba(255, 255, 255, 0);
    transition: border-bottom 0.1s ease-in-out;
}

.menu-nav__link:hover {
    border-bottom: 3px solid #03a9f4;
}

.menu-btn {
    display: none;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .menu-wrapper {
        width: 50%;
    }
}

/*menu button for mobile version*/
@media (max-width: 1024px) {
    .lang {
        padding-left: 110px;
    }
    .sticky-bar {
        padding-right: 100px;
        position: relative;
    }

    .menu-wrapper {
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
    }

    .menu-block {
        position: relative;
    }

    .menu-btn {
        position: absolute;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 25px;
        top: 15px;
        background-color: rgba(0, 0, 0, 0.3);
        transition: background-color 0.2s ease-in-out;
    }

    .menu-btn:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .menu-btn span,
    .menu-btn span::before,
    .menu-btn span::after {
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 50%;
        margin-left: -7.5px;
        width: 15px;
        height: 2px;
        background-color: white;
    }

    .menu-btn span::before,
    .menu-btn span::after {
        content: "";
        display: block;
        transition: 0.2s;
    }

    /*menu button animation*/
    .menu-btn span::before {
        transform: translateY(-5px);
    }

    .menu-btn span::after {
        transform: translateY(5px);
    }

    .menu-btn_active span:before {
        transform: rotate(-35deg);
        width: 10px;
        transform-origin: left bottom;
    }

    .menu-btn_active span:after {
        transform: rotate(35deg);
        width: 10px;
        transform-origin: left top;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        background-color: rgba(0, 0, 0, 0.5);
        -moz-transition: all 0.4s;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
    }

    .menu-main-list {
        opacity: 0;
        right: -300px;
        position: fixed;
        justify-content: flex-start;
        flex-direction: column;
        background-color: #1D4A84;
        width: 300px;
        max-width: 100%;
        height: 100%;
        top: 0;
        -moz-transition: all 0.4s;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
        padding-bottom: 20% !important;
    }

    .menu-logo {
        display: block;
        font-size: 1.6rem;
        font-family: "Kodchasan", sans-serif;
        font-weight: bold;
        color: white;
    }

    .menu-logo:hover {
        cursor: default;
    }

    .menu-main-list li {
        line-height: 3;
        font-size: 1rem;
        border-bottom: 1px solid #d3d3d33d;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
    }

    .menu-main-list li:hover:not(:first-child) {
        background-color: #d3d3d33d;
    }

    .menu-main-list li:first-child {
        padding: 10% 0;
        text-align: center;
        border-bottom: none;
    }

    .menu-main_active .menu-main-list {
        right: 0;
        opacity: 1;
        visibility: visible;
    }

    .menu-main_active .overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-main-list .menu-nav__link {
        color: white;
        transition: all 0.2s ease-in-out;
    }

    .menu-main-list .menu-nav__link:hover {
        border-bottom: 0;
        color: #03a9f4;
    }

    /*menu links*/
    .menu-nav__link {
        display: block;
        text-decoration: none;
        height: 100%;
        width: 100%;
        text-align: left;
        padding: 4% 15%;
        padding-bottom: 0;
    }
}

@media (max-width: 610px) {
    .logo {
        margin: 0 0 0 5px;
        a{
            padding: 0 5px;
        }
    }

    .logo-light {
        font-size: 1.4rem;
        right: 5%;
        margin-left: auto;
    }

    .lang {
        padding-left: 20px;
    }

    .lang,
    .menu-wrapper {
        width: auto;
    }

    select{
        font-size: 1rem;
    }
}
