@import "../../styles/variables";
.Footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    .copyright {
        p {
            font-size: 13px;
            font-weight: 400;
        }
        a {
            color: $mainColor;
            &:hover {
                color: red;
            }
        }
        padding: 20px 0;
        text-align: center;
        width: 100%;
    }
}
