@import "../../../styles/variables";

$article-background: #fff;
$time-open-article: 0.2s;
@function multiply-px($value1, $value2) {
    @return $value1 * $value2;
}

.Article {
    background: $article-background;
    border: 1px solid #e5e5e5;
    border-radius: 25px;
    box-shadow: 0 0 7px 1px #dfe7f1;
    margin-bottom: 2vh;
    width: 100%;
    padding: 5% 8%;
    position: relative;
    height: 100%;

    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        max-height: 25rem;
        height: auto;
    }

    p {
        font-size: 1rem;
        text-align: left;
        line-height: 2rem;
        margin: 25px 0;
        color: $textColor;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: 25px 0;
    }

    h3,
    h4,
    h5 {
        text-align: left;
        font-weight: bold;
    }

    h1 {
        margin: 0 0 10px;
        font-size: 1.4rem;
        text-align: center;
        padding: 10px 0;
        text-transform: uppercase;
        font-weight: normal;
    }

    h2 {
        font-size: 1.3rem;
        font-weight: bold;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1.1rem;
    }

    ul {
        text-align: left;
    }
    li {
        margin: 15px 0 0 35px;
        list-style: initial;
    }
    a {
        text-decoration: none;
        transition: color 0.2s ease-in-out;
        color: $mainColor;
        &:hover {
            color: red;
        }
    }
    .flex-parent {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .flex-child {
            flex: 1 1 auto;
            max-width: 50%;
            margin: 0 30px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .callouts {
        padding: 20px;
        margin: 20px 0;
        background-color: #f0f9ff;
    }

    time {
        display: block;
        width: 100%;
        text-align: right;
        color: lighten($textColor, 50%);
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .Read-more-btn {
        display: block;
        background-color: lighten($mainColor, 50%);
        border: none;
        border-radius: 2rem;
        padding: 0.5rem 1rem;
        margin: 0.5rem 0;
        font-size: 1rem;
        max-width: max-content;
        font-weight: bold;
        color: $mainColor;
        outline: none;
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: lighten($mainColor, 50%);
            color: lighten($mainColor, 10%);
            cursor: pointer;
        }
    }
    &.hide {
        .grid {
            &-text {
                height: 1rem;
                p {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    height: 100%;
                    margin: 0;
                    line-height: 1rem;
                }
            }
            &-img {
                margin: 1rem 0;
                img {
                    width: 50%;
                }
            }
        }
    }
}

@media (min-width: 610px) {
    .Article.hide {
        .grid {
            display: grid;
            grid-template-columns: auto minmax(40%, auto);
            grid-auto-rows: 1fr auto 1rem auto 1fr;
            // min-height: 15rem;
            &-title {
                grid-row-start: 2;
                grid-row-end: 3;
                h1 {
                    text-align: left;
                }
            }
            &-text {
                grid-row-start: 3;
                grid-row-end: 4;
            }
            &-img {
                grid-row-start: 1;
                grid-row-end: 6;
                grid-column-start: 1;
                grid-column-end: 2;
                align-self: center;
                margin: 0 2rem 0 0;
                img {
                    width: 100%;
                }
            }
            &-read-more {
                grid-row-start: 4;
                grid-row-end: 5;
                justify-self: left;
            }
        }
    }
}
