@import "../../styles/variables";

.Download {
    background-color: #fff;
    //background-image: url("../../assets/images/bottom.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    font-size: 1rem;
    position: relative;
    width: 100%;
    margin-top: -70px;
    .container {
        @media (min-width: 576px) {
            max-width: 500px;
        }
        @media (min-width: 768px) {
            max-width: 620px;
        }
        @media (min-width: 992px) {
            max-width: 860px;
        }
        @media (min-width: 1200px) {
            max-width: 1240px;
        }
    }
}


.download-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20%;
}

.download-block {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description-download-text {
    font-family: "Open sans", sans-serif !important;
    padding-top: 20px;
}

.download-block-description {
    display: flex;
    justify-content: flex-start;
    padding-right: 20px;
    margin: 30px 0;
}


.logo-download-small {
    width: 25%;
    margin-right: 30px;
}

.download-button-block {
    text-align: center;
    margin-top: 40px;
}

.download-button {
    color: black !important;
    padding: 20px 100px;
    background-color: #3ED5F8;
    border-radius: 10px;
    border: 0 !important;
    font-weight: 400;
    text-align: center; 
}

.download-bottom-block {
    margin: 60px 0;
}

.get-started-footer {
    background: url("../../assets/images/home/home_footer.svg") bottom/cover no-repeat;
height: 20vw;
margin-top: -5%;
}

.footer-links {
padding-top: 7%;
padding-left: 8%;
}

.footer-link {
font-family: "Open sans", sans-serif !important;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
}

.footer-mail {
font-family: "Open sans", sans-serif !important;
color: #fff !important;
text-decoration: underline;
font-size: 18px;
padding-top: 2%;
padding-left: 60%;
}



@media (max-width: 768px) {
    .download-container {
        flex-direction: column;
    }
    .get-started-footer {
        height: 20vh;
        margin-top: -8%;
    }
    .footer-mail {
        padding-left: 50%;
      }
}
    

@media (max-width: 610px) {
        .get-started-footer {
            height: 17vh;
            margin-top: -7%;
        }

        .footer-links {
            padding-top: 7%;
            padding-left: 8%;
          }
        
          .footer-link {
            font-family: "Open sans", sans-serif !important;
            font-style: normal;
            font-weight: normal;
            font-size: 8px;
            line-height: 8px;
          }
        
          .footer-mail {
            font-family: "Open sans", sans-serif !important;
            color: #fff !important;
            text-decoration: underline;
            font-size: 0.8rem;
            padding-top: 0%;
            padding-left: 50%;
          }
}

